* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #999, #333, #999, #333);
  padding: 1rem;
  box-sizing: border-box;
}

.slider {
  width: 40em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input[type="radio"] {
  display: none;
}

.slider__images-container,
.slider__container {
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.slider__container {
  gap: 2em;
}

.slider__images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  gap: 1em;
}

.slider__images img {
  width: 100%;
  height: auto;
}

.slider__container-block {
  overflow: hidden;
  width: 100%;
}

.slider__container-block__text {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.slider__text {
  font-size: 2em;
  color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
}

.slider__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 2em;
  height: 2em;
}

.slider__dot {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 50%;
  height: 50%;
  background-color: black;
  border-radius: 50%;
}

#navigation1:checked ~ .slider__images-container,
#navigation1:checked ~ .slider__container .slider__container-block__text {
  transform: translateX(0%);
}

#navigation2:checked ~ .slider__images-container,
#navigation2:checked ~ .slider__container .slider__container-block__text {
  transform: translateX(-100%);
}

#navigation3:checked ~ .slider__images-container,
#navigation3:checked ~ .slider__container .slider__container-block__text {
  transform: translateX(-200%);
}

#navigation4:checked ~ .slider__images-container,
#navigation4:checked ~ .slider__container .slider__container-block__text {
  transform: translateX(-300%);
}

#navigation5:checked ~ .slider__images-container,
#navigation5:checked ~ .slider__container .slider__container-block__text {
  transform: translateX(-400%);
}

#navigation1:checked ~ .slider__container .slider__navigation label[for="navigation1"] .slider__dot,
#navigation2:checked ~ .slider__container .slider__navigation label[for="navigation2"] .slider__dot,
#navigation3:checked ~ .slider__container .slider__navigation label[for="navigation3"] .slider__dot,
#navigation4:checked ~ .slider__container .slider__navigation label[for="navigation4"] .slider__dot,
#navigation5:checked ~ .slider__container .slider__navigation label[for="navigation5"] .slider__dot {
  background-color: #ff0000;
}

.slider__navigation label:active:nth-child(1) .slider__dot,
.slider__navigation label:active:nth-child(2) .slider__dot,
.slider__navigation label:active:nth-child(3) .slider__dot,
.slider__navigation label:active:nth-child(4) .slider__dot,
.slider__navigation label:active:nth-child(5) .slider__dot {
  background: #37ff00;
}

.slider__navigation label:hover .slider__dot {
  background: #59c3d7;
}